Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-make-member-function-const

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '30'

HeaderFilterRegex: '.*'